<p id="notice"><%= notice %></p>

<script>

    const zeros = (m, n) => [...Array(m)].map(e => Array(n).fill(0));

    var arGrid = <%= @challenge.map_grid || "zeros(18, 18)"%> ;
    var objGrid = <%= @challenge.objects_grid || "zeros(18, 18)"%> ;
 
</script>

<div class="layout">
    <div class="sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="907.187" height="922.948"><g data-name="Grupo 3"><path data-name="Trazado 1" d="M638.189 73.367l168.91 97.58-168.91 97.581-172.973-97.595z" fill="#5e92c3"/><path data-name="Trazado 2" d="M806.958 170.073l-.002 200.46L635.46 468.83V267.556z" fill="#8ea9c3"/><path data-name="Trazado 3" d="M465.956 169.622v199.91L636.217 470.28V267.14z" fill="#5b778e"/></g><g data-name="Grupo 1"><path data-name="Trazado 1" d="M272.189 73.367l168.91 97.58-168.91 97.581-172.973-97.595z" fill="#87a7c3"/><path data-name="Trazado 2" d="M440.958 170.073l-.002 200.46L269.46 468.83V267.556z" fill="#5b778e"/><path data-name="Trazado 3" d="M99.956 169.622v199.91L270.217 470.28V267.14z" fill="#5b7083"/></g><g data-name="Grupo 2"><path data-name="Trazado 1" d="M453.189 180.367l168.91 97.58-168.91 97.581-172.973-97.595z" fill="#78a3cb"/><path data-name="Trazado 2" d="M621.958 277.073l-.002 200.46L450.46 575.83V374.556z" fill="#8ea2b4"/><path data-name="Trazado 3" d="M280.956 276.622v199.91L451.217 577.28V374.14z" fill="#415669"/></g><text data-name="We Love Blocks" transform="translate(113.189 765.948)" fill="#5e92c3" font-size="96" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700"><tspan x="0" y="0">We Love Blocks</tspan></text><text data-name="GAME BUILDER" transform="translate(194.189 908.948)" fill="#303539" font-size="64" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700" letter-spacing=".1em"><tspan x="0" y="0">GAME BUILDER</tspan></text></svg>
        <p class="subtitle">Choose your evaluation criteria:</p>
        <form action="" method="POST">
            <div class="option-list">
                <div><input type="checkbox" id="cbox1" name="criteria" value="line_number"> <label for="cbox1"> Number of Code Lines  </label></div>
                <div><input type="checkbox" id="cbox2" name="criteria" value="time"> <label for="cbox2"> Time / Performance </label></div>
                <div><input type="checkbox" id="cbox3" name="criteria" value="complexity"> <label for="cbox3"> Algorithm Complexity </label></div>
                <div><input type="checkbox" id="cbox4" name="criteria" value="good_practices"> <label for="cbox4"> Good Practices </label></div>
                
            </div>
            <p class="subtitle">Game Settings:</p>
            <div class="option-list">
                <div><input type="checkbox" id="cbox6" name="settings" value="feedback"> <label for="cbox6"> Show Feedback </label></div>
                <div><input type="checkbox" id="cbox7" name="settings" value="help"> <label for="cbox7"> Allow Remote Help </label></div>
                <div><input type="checkbox" id="cbox5" name="criteria" value="t"> <label for="cbox5"> Time Limit </label></div>
            </div>
 
        </form>
    </div>
 
    <div >

        <p>Click to add a block and right click to remove it.</p>
        <br/>
        <div id="grid">
            <% (0..18).each do |i| %>
                <div class="row">
                    <% (0..18).each do |j| %>
                        <div id="<%=i%>-<%=j%>" class="cell" draggable="true" data-row="<%=i%>" data-column="<%=j%>">0</div>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div id="toolkit">
            <p> Drag & Drop special elements </p>
            <div class="option-list"><div><div data-value="10"  id="player_item" draggable="true"></div><label>Player Init Point</label></div></div>
            <div class="option-list"><div><div data-value="11" id="goal_marker" draggable="true"></div><label>Finish Point</label></div></div>
            <div class="option-list"><div><div data-value="12" id="bonus_point" draggable="true"></div><label>Bonus Checkpoint</label></div></div>
        </div>

    </div>

    <div>
        <canvas id="preview" width="650" height="580">
        </canvas>
    </div>

</div>



<%= javascript_pack_tag 'challenge', 'data-turbolinks-track': 'reload' %>

