<!DOCTYPE html>
<html>
  <head>
    <title>Wlb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : 'your-app-id',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v4.0'
        });
      };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <%= yield %>

  </body>
</html>
